body{
  background-image: url("./images/golf_holiday_campaign_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
}
body::before{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

@media (max-width: 576px){
  body::before{
    background-color: rgba(0, 0, 0, 0);
  }
}

.navbar-expand-md .navbar-toggler {
  display: none;
}



.card-header{
  font-size:1.6em;
  font-weight :800;
  line-height: 1.2;
  margin-bottom:30px;
  color: #fff;
}
.brSp {display: none;}
@media screen and (max-width: 550px) {
  .brSp {display: block;}    /* SP改行 */
}
.brSp2 {display: none;}
@media screen and (max-width: 700px) {
  .brSp2 {display: block;}    /* SP改行 */
}

.card-body{
  background: #fff;
  color: #111;
  padding: 50px 20px;
  border-radius: 10px;
}





.itemRow{
  background: #fff;
  width :100%;
  margin-bottom :15px;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}
.itemTitle{
  width :150px;
  padding :10px;
  background: #e8d25f;
  color: #000000;
  text-align:center;
  font-weight :800;
  font-size :1.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemContent{
  height: 100%;
  width : calc(100% - 150px);
  padding :10px;
}
@media (max-width: 576px){
  .itemRow{
    margin-bottom :20px;
  }
  .itemTitle{
    width :100%;
    text-align: left;
    padding-bottom:0;
  }
  .itemContent{
    width :100% ;
    padding-top :5px;
  }
}

.mail_supplement{
  font-size: 0.9em;
  color: #777;
  margin-bottom: 0;
}


.itemBtn{
  display: flex;
  flex-flow: wrap;
}
.btn-outline-success {
  position: relative;
  margin: 0 auto;
  margin-top: 20px !important ;
  padding: 16px 80px;
  color: #fff;
  font-size:1.1em;
  font-weight: 700;
  border-color: #b62525;
  background: linear-gradient(to right, #b62525, #b46673, #b62525);
  transition: 1s;
}
.btn-outline-success::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  border: solid 2px #e2ad1a;
  position: absolute;
  transition: 1s;
}
.btn-outline-success:hover {
  background: #fff;
  border-color: #7e0e0e;
  background: linear-gradient(to right, #7e0e0e, #8d424e, #7e0e0e);
  transition: 1s;
}




input[type="text"]{
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a1cbef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(52 144 220 / 25%);
}
.fc_form1{
  width: 45% !important ;
  margin-right: 10px;
}
.inputName{
  display       : flex;
  flex-flow     : wrap;
  justify-content: left;
}
.inputRadio4 > label{
  padding :0 30px  0 0  ;
  margin :0;
}
.inputZip{
  display       : flex;
  flex-flow     : wrap;
  justify-content: left;
  margin-bottom : 5px;
  line-height: 2.5;
}
.fc_form_zip1{
  width: 80px !important ;
  margin-right: 10px;
}
.fc_form_zip2{
  width: 100px !important ;
  margin-left: 10px;
}
.Prefectures{
  width: 120px !important ;
  margin-right: 10px;
}
.Municipality{
  width: 150px !important ;
}



.inputMails{
  margin-bottom :5px;
}
.form-control::placeholder,
input::placeholder{
  color: #ddd;
}

